<span class="badge pull-right">{{ status }}</span>
<h3>{{ task.name }}</h3>

<div class="well">
  <blockquote ng-bind-html="task.description|html|nl2br"></blockquote>
</div>

<div class="form-group">
  <label for="description">Work description:</label>
  <textarea id="description" class="form-control" rows="3" ng-model="description"></textarea>
</div>
<div class="checkbox">
  <label>
    <input type="checkbox" ng-model="complete">Mark as completed
  </label>
</div>
<a ng-click="finish()" class="btn btn-primary">Finish work</a>
